<div class="form-shapes">

        <fieldset>
            <legend>type</legend>
            <select name="type">
                <option value="triangle">Triangle</option>
                <option value="circle">Circle</option>
                <option value="square">Square</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>Color</legend>
            #<input type="text" name="color" maxlength="6">
        </fieldset>

        <fieldset>
            <legend>size</legend>
            <select name="size">
                <option value="small">Small</option>
                <option value="normal">Normal</option>
                <option value="big">Big</option>
            </select>
        </fieldset>

        <fieldset>
            <input type="submit" class="create" value="Create">
            <input type="submit" class="clear" value="Clear">
        </fieldset>

</div>


<div class="render-shapes">

</div>
